.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerMap {
  padding: 0 2rem;
  background-color: #345DA7;
  position: relative;
}

.mainMap {
  min-height: 100vh;
  padding: 1.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background{
  background-image: url("https://beebom.com/wp-content/uploads/2022/02/Mini-Earth-Map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
  min-height: 100vh;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}